* {
    margin: 0;
    padding: 0;
}

body {
    /* This will change dynamically */
    background-repeat: no-repeat;
    width: 100vw;
    position: absolute;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lato', Helvetica, sans-serif;
    display: none;
}

.visible {
    display: block;
}

    body.sunny {
        background: linear-gradient(180deg, #EEDEB8 0%, rgba(255, 255, 255, 0) 100%), #FAB96D;
    }

    body.rainy {
        background: radial-gradient(50% 50% at 50% 50%, #EDF2FF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #CFE5FF 20.83%, rgba(255, 255, 255, 0) 100%), #A3C8FF;
    }

    body.snowy {
        background: linear-gradient(180deg, #EEF9FF 0%, rgba(255, 255, 255, 0) 100%), #BBE2F8;
    }

    body.cloudy {
        background: linear-gradient(180deg, #FFFFFF 10%, rgba(255, 255, 255, 0) 100%), #D7D7D7;    
        /* background: linear-gradient(180.01deg, #FFFFFF 14.59%, rgba(73, 71, 71, 0) 99.99%); */
        /* background: linear-gradient(0deg, #D5D5D5 13.28%, rgba(207, 207, 207, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); */
    }

header {
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    height: 50px;
    width: 100vw;
    margin: 0;
    padding: 16px 0 0 0;
}

    .icon-container {
        width: 35%;
        text-align: right;
    }

    .header-icon {
        fill: grey;
        height: 33px; 
        width: auto;
        padding: 8px 0 8px 0;
        position: relative;
    }

    .header-icon:hover {
        fill: black;
        cursor: pointer;
    }


        #help {
            float: left;
            padding: 0 0 0 10%;
        }

        .location-search {
            display: inline-block;
            margin: 3px 10px 0 0;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 7px;
            border: 1px solid #ccc;
            background: rgb(223, 221, 221)
        }

        #map {
            float: right;
            padding: 0 10% 0 0;
        }

        .help{
            float: left;
        }

        .map {
            float: right;
        }

    header > .header-text {
        color: grey;
        width: 30%;
        font-size: 20px;
        padding: 10px 0 10px 0;
        text-align: center;
        position: relative;
        float: left;
    }

section {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    
}


section#weather {
    width: 40vw;
    /* background: red; */
    padding: 30px 0 15px 4vw;
    float: left;
    /* background-color: green; */
    
}

    #weather > h2 {
        font-size: 60px;
    }

    #weather > span > a {
        font-size: 100px;
    }


        #weather > div > .temp-detail-icon {
            height: 30px;
            width: auto;
            vertical-align: bottom;
            margin: 0 0 3px 5px;

        }

        #weather > .current-temp {
            padding: 0 0 10px 0;
        }
        #weather > div > span {
            font-size: 30px;
            vertical-align: top;
            margin-right: 20px;
        }

        

    #weather > span {
        padding: 20px 0 0 5px;
        position: relative;
        display: inline-block;
        font-size: 18px;
    }

    #weather > h3 {
        padding: 30px 0 0 0;
        margin: 0;
        color: gray;
    }


/* Formatting for the weather icon */
section#weather-icon {
    /* background: green; */
    height: 417px;
    width: 56vw;
    position: relative;
    float: right;
    /* background-color: blue; */
}

    #weather-icon > .circle {
        position: relative;
        width: 1000px;
        height: 1000px;
        margin: -300px 0 0 45%;
        transform: translate(-50%);
        margin-right: auto;
        z-index: -1;
        display: none;
    }

    #weather-icon > .visible {
        display: block;
    }

    #weather-icon > .yellow {
        background: radial-gradient(50% 50% at 50% 50%, rgba(251, 255, 60, 0.4) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    #weather-icon > .lightgray {
        background: radial-gradient(50% 50% at 50% 50%, rgba(155, 164, 174, 0.4) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    #weather-icon > .white {
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 242, 0.4) 0%, rgba(255, 255, 255, 0) 0.01%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    #weather-icon > .darkgray {
        /* background: radial-gradient(50% 50% at 50% 50%, rgba(65, 65, 65, 0.4) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); */
        /* background: radial-gradient(50% 50% at 50% 50%, rgba(65, 65, 65, 0.4) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); */
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.55) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    .weather-icon-image {
        height: 300px;
        width: auto;
        margin: auto;
        position: relative;
        display: block;
        top: 50%;
        transform: translate(0, -50%);
    }

        .weather-icon-image.sun {
            height: 300px;
        }

        .weather-icon-image.rain {
            height: 270px;
        }
        
        .weather-icon-image.snow {
            height: 250px;
        }

        .weather-icon-image.clouds {
            height: 330px;
        }


section#clothing{
    width: 100vw;
    padding: 0 0 0 0;
    text-align: center;
    /* background-color: red; */
}
    #clothing > h4 {
        font-size: 24px;
        padding: 10px 0 10px 4vw;
    }

    .clothing-container {
        background: rgba(255, 255, 255, 0.25);
        width: 100%;
        height: auto;
        display: inline-block;
        margin: 20px 0 0 0;
    }

    ul {
        padding: 15px 0 0 4vw;
    }

    li {
        display: inline;
    }

        .clothing {
            padding: 20px 20px 20px 20px;
            max-width: 180px;
            height: auto;
            display: inline-block;
        }

        .clothing-small {
            height: 90px;
            padding: 0;
            display: inline-block;
        }

        .hidden {
            display: none;
        }

        .double-container {
            max-width: 180px;
            height: 180px;
            padding: 0;
            margin: 0;
            display: inline-block;
        }
        
        .clothing > img {
            width: 180px;
            height: auto
        }

        #bottoms > img {
            width: 180px;
        }

        #accessories > img {
            height: 80px;
        }

        #accessories2 > img {
            height: 80px;
        }

        #seasonal {
            padding: 20px 20px 20px 0;
            margin: 0 0 0 -30px;
        }

/*information modal*/
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100vw; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        text-align: center;
      }

        .modal-content > span {
            display: block;
            margin: 5px 0;
        }
      
      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }


      /* Need to make adjustments here to account for if window is shrunk. Big bug is changing the header so that the location bar still shows. Also changing clothes so that they appear in two lines
@media screen and (max-width: 1000px) {


}
*/

@media screen and (max-width: 800px) {
   body {
       overflow-x: hidden;
   }

    /* header css */
    .header-text {
        display: none;
    }

    .help {
        width: 10%;
    }

    #help {
        padding: 0 0 0 10px;
    }

    .map {
        width: 90%
    }

    #map {
        padding: 0 10px 0 0;
    }

    /* weather section */
    section#weather {
        width: 70vw;
    }

    #weather-description-text {
        width: 133%
    }

    #city-name {
        width: 130%;
    }


    /* weather icon */
    section#weather-icon {
        position: relative;
        width: 26vw;
    }
 
        #weather-icon > .circle {
            margin: -315px 0 0 90%;
        } 

        #weather-icon > .darkgray {
            margin: -305px 0 0 70%;
            background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.45) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

        }

        .weather-icon-image {
            position: relative;
            width: 230px;
        }

        .snow{
            width: 180px;
        }

        .rain {
            width: 200px;
        }

    

    /*outfit css */
    #seasonal {
        padding: 20px 20px 20px 20px;
        margin: 0 0 0 0;
    }

    /* modal */
}